.app-header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    &__left {
        &:hover {
            cursor: pointer;
            transform: scale(1.01);
            transition: all 0.15s ease-in-out;
        }
    }
}